# Prerequisites
*.d
*.vscode

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
_222_CO1027__Assignment (3).pdf
_222_CO1027__Assignment (4).pdf
_222_CO1027__Assignment.pdf
backup.cpp
/main.dSYM
main.dSYM
build
.vscode
.vscode/settings.json
main.dSYM/Contents/Resources/DWARF/main
main
*.txt